<div id="body">
  <!-- audio  -->
  <%- include ../partials/audio %>

  <div id="fullpage">
    <div class="section active">
      <!-- Section1 partial -->
      <%- include ../partials/body/firstSection %>
    </div>
    <div class="section">
      <!-- Section2 partial -->
      <%- include ../partials/body/secondSection %>
    </div>
    <div class="section">
      <!-- Section3 partial -->
      <%- include ../partials/body/thirdSection %>
    </div>
    <div class="section">
      <!-- Section4 partial -->
      <%- include ../partials/body/fourthSection %>
    </div>
    <div class="section">
      <!-- Section5 partial -->
      <%- include ../partials/body/lastSection %>
    </div>
  </div>

</div>
