<div id="body">

  <div id="fullpage">
    <div class="section active">
      <!-- Section1 partial -->
      <%- include ../partials/body/sectionOne %>
    </div>
    <div class="section">
      <!-- Section2 partial -->
      <%- include ../partials/body/sectionTwo %>
    </div>
    <div class="section">
      <!-- Section3 partial -->
      <%- include ../partials/body/sectionThree %>
    </div>
    <div class="section">
      <!-- Section4 partial -->
      <%- include ../partials/body/sectionFour %>
    </div>
    <div class="section">
      <!-- Section5 partial -->
      <%- include ../partials/body/sectionFive %>
    </div>
  </div>

</div>
